.buttonW{
    color:white;
    font-size:15px;
    background-image: linear-gradient(rgba(165, 113, 207),rgba(76, 23, 119),rgb(35, 11, 55),rgba(7, 0, 13,0.5));

}

.pW{
    color:white;
    font-size: 60px;
}

