.divPNF_class{
    padding-top: 30px;
    text-align:center;
    padding-bottom: 70px;
}

.pPNF_class{
    color:plum;
    text-align: center;
    font-size: 25px;
    width:100;
  }
.myimgPNF{
    width:55%;
}
